# Archivos de compilación de Gradle
.gradle/
build/

# Archivos generados por la JVM
*.class
*.jar
*.war
*.ear

# Archivos de configuración de la IDE
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Archivos de dependencias locales
/.m2/

# Archivos de dependencias de Gradle
.gradle/
build/
out/

# Archivos temporales de sistemas operativos
# macOS
.DS_Store

# Archivos de Windows
Thumbs.db

# Archivos de Log
*.log

# Archivos de configuración de Docker (si usas Docker en tu proyecto)
docker-compose.override.yml
